$base-font: 'Poppins', sans-serif;
$text-color: #333;
$active-color: #0062FF;
$error-color: #E02020;
$white: #fff;
$secondary-color: #92929D;
$breadcrumb-color: #485CBA;
$breadcrumb-active-color: #5C63AB;